* {
    box-sizing: border-box;
    background: black;
}

h1 {
    color: white;
    margin-left: 30px;
}

.container {
    background: black;
    font-size: 0px;
}

.row div {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.wall {
    background: blue;
}

.food {
    background: white;
    border: 8px solid black;
    border-radius: 100%;
}

.plyr {
    background: url("images/pacman.gif") no-repeat;
    background-size: 28px;
    /*border: 2px solid black;*/
    /*border-radius: 100%;*/
}

.none {
    background: black;
}

